body {
	font-size:12px;
	color:#000000;
	background-color:#F6F4F0;
	margin:0px;
}
.game_container {
	border:1px solid black;
	vertical-align:middle;
}

a.login-button{
	font-size:10em;
}

#chatcontainer{
	position:absolute;
	border: 1px solid #FFFFFF;
	background-color:#000000;
	opacity:.8;
	width:400px;
	height:200px;
	bottom:40px;
	left:30px;
}
#chatInput{
	position:relative;
	color:white;
	width:100%;
	height:10%;
}
#chatOutput{
	position:relative;
	color:white;
	width:100%;
	height:80%;
	overflow-y:scroll;
}
#chatTextBox{
	border: none;
	width:90%;
	background: transparent;
	color: #FFFFFF
}
span.chatItem{
	font-family:sans-serif;
}
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.7); 
}

::-moz-selection{
	background-color:Transparent;
	color:#000;
}

::selection {
	background-color:Transparent;
	color:#000;
}
